:root {
  --code-background: #F1F1F1;
  --main-font-size: 16px;
  --caption-text: 0.9rem;
  --main-font-family: "Avenir";
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --max-reading-width: 650px;
  --min-size-width: 350px;
  --light-blue: #D6EEEE;
  --grey: #D3D3D3;
}

html{
  margin: 0.5em;
  font-family: var(--main-font-family);
  line-height: 1.35;
  font-size: var(--main-font-size);
}

body{
  display: grid;
  grid-template-columns: [leftcol] 350px [middlecol] 33% [rightcol] 33%;
  grid-template-rows: [title] 80px [inforow] 300px [bottom] auto;
  gap: 10px;
  margin-top: 1.5em;
}

#mainTitle{
  grid-column: leftcol;
  grid-row: title;
}


#conceptSearchDiv{
  grid-column: leftcol;
  grid-row: inforow;
}

input{
  border: 4px solid var(--light-blue);
  width: 80%;
  max-width: 300px;
}


#chooserDiv{
  width: 80%;
  max-width:300px;
}

select{
  width: 80%;
  max-width:300px;
  border-radius: 4px;
}

option:checked{
  background-color: var(--light-blue);
}

form{
  width: 80%;
  max-width:300px;
}

#relatedConceptDiv{
  grid-column: middlecol;
  grid-row: inforow;
  width: 90%;
}

#topPublicationsDiv{
  grid-column: leftcol / span 2;
  grid-row: bottom;
}

#plotDiv{ /* plot */
  grid-column: rightcol;
  grid-row: inforow;
}


table {
  width: 90%;
  border-spacing: 0px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}


th{
  border: 1px solid black;
  color: black;
  background: #c0c0c0;
  padding:0.5rem;
}

tr,td{
  border: 1px solid black;
  border-spacing: 4px;
  padding: 0.3em;
}
tr:nth-child(even) {
  background-color:var(--grey);
}


